.pages{
  margin-top: 40px;
}

.pagination{
  gap: 5px;
  max-width: fit-content;
  margin: 10px auto;
}

.pagination {
  padding: 12px;
}

.pages {
  padding: 14px;
  display: block;
}

.btn-pageNumber {
  min-width: 54px;
  margin: 2px;
}
