.pages{
  margin-top: 40px;
}

.pagination{
  gap: 5px;
  max-width: fit-content;
  margin: 10px auto;
}

.pagination {
  padding: 12px;
}

.pages {
  padding: 14px;
  display: block;
}

.btn-pageNumber {
  min-width: 54px;
  margin: 2px;
  &:focus, &.active{
    box-shadow: 0 0 0 0.25rem rgb(26 45 64);
    color: #fff;
  }
}

.btn-info{
  background: #161a1e;
  color: #fff;
  &:focus{
    box-shadow: none;
  }
}
