.navbar{
  background: #161a1e !important;
}

#side-bar{
  height: 100vh;
  padding: 0;
  padding-top: 80px;
  position: fixed;
  background: #191f26;
}

#dashboard{
  margin-top: 60px;
  margin-inline-start: auto;
}
